@import "tailwindcss";

@theme {
    --color-primary: #a74d4a;
    --color-secondary: #f6f4ef;
    --color-black: #121212;

    --font-heading: "Boldonse", sans-serif;
    --font-body: "Poppins", sans-serif;
}

@font-face {
    font-family: "Boldonse";
    src: url("/fonts/Boldonse-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Anybody";
    src: url("/fonts/Anybody-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Abel";
    src: url("/fonts/Abel-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@layer utilities {
    .font-boldonse {
        font-family: "Boldonse", sans-serif;
    }
    .font-poppins {
        font-family: "Poppins", sans-serif;
    }

    .clip-diagonal-right {
        clip-path: polygon(0 0, 45% 0, 30% 100%, 0 100%);
    }
    .clip-diagonal-section {
        clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
    }
}
