@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.TitleAnimation {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
}

.SubTitleAnimation {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.6s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.NavBarAnimation {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}

.ExploreMoreAnimation {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
}