.App {
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

.MainPage {
    background: linear-gradient(to right, #f6f4ef 0%, #f6f4ef 70%, #d9d9d9 70%, #d9d9d9 100%);
    background-color: #f6f4ef;
}

h2 {
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #aa544d;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
}

